<%= form_with(model: @pet, local: true, class: "mt-4") do |form| %>
  <% if @pet.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>
      <ul>
        <% @pet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :age, class: "form-label" %>
    <%= form.number_field :age, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :breed, class: "form-label" %>
    <%= form.text_field :breed, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category, class: "form-label" %>
    <%= form.select :category, options_for_select(Pet::CATEGORIES, @pet.category), { prompt: 'Select Category' }, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= form.submit "Update Pet", class: "btn btn-primary" %>
  </div>
<% end %>
